#Colin's File for NLP Testing

In [1]:
from pycaret.nlp import *
import pandas as pd

In [2]:
df = pd.read_csv("Kindle_Reviews.csv")

In [5]:
test = df.head(10000)
test

,Unnamed: 0,overall,verified,reviewerID,asin,reviewText,summary,vote,newReviewTime
0,0,5,True,A8WQ7MAG3HFOZ,B000FA5KK0,"Love Max, always a fun twist",Five Stars,NaN,2016-09-16
1,1,5,True,A1E0MODSRYP7O,B000FA5KK0,"As usual for him, a good book",a good,NaN,2016-03-03
2,2,5,True,AFVJCR70132Z,B000FBFMHU,This book was well written and well edited. It...,Great book,NaN,2018-02-13
3,3,5,True,A35TPI5B6O08A0,B000FBFMHU,This true story is amazing. All the things he...,Amazing,NaN,2017-09-08
4,4,5,True,A25VQSS06RDWMJ,B000FBFMHU,It was a fun adventure to read.,Five Stars,NaN,2017-05-14
...,...,...,...,...,...,...,...,...,...
9995,9995,5,True,A73IK4VT0XZS6,B007J4A4KQ,What a great time I've had reading this book. ...,An excellent read for the day. Loved it!!,2.0,2016-05-30
9996,9996,5,True,A3RR6TXW4UX0D2,B007J4A4KQ,Great clean Christian romance book. Full of gr...,Great clean Christian romance book,NaN,2016-05-20
9997,9997,5,True,A1S3CIZFVRRJKE,B007J4A4KQ,Another great clean read from Shanna. Thanks!,Really good,NaN,2016-05-14
9998,9998,5,True,A22Y9ZFFA6RG4E,B007J4A4KQ,This was book #2 in the Grass Valley series an...,A sweet romance,NaN,2016-03-24
9999,9999,5,True,A2NJ4R9TXYDJ27,B007J4A4KQ,Loved the first book and loved this one just a...,Awesome story,NaN,2016-03-22

In [7]:
nlp_experiment = setup(data = test, target = 'reviewText', session_id = 123)
#note: takes ~50 seconds to run 10,000 rows on my machine